@import url('https://fonts.googleapis.com/css2? family= Ubuntu & display=swap');

*{
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

#header {
  height: 65vh;
  width: 100%;
  background-image: url('../img/imagen.jpg');
  background-position: center;
  background-size: cover;
  text-align: center;
  object-fit: cover;
}

h1{
  color: red;
  text-align: center;
  font-size: 50px;
  border: solid white 1px;
  background-color: yellow;
  border-radius: 2px;
  padding: 2%;
}

h2{
  color: white;
  text-align: center;
  font-size: 32px;
  border: solid white 1px;
  background-color: black;
  border-radius: 5px;
  padding: 5%;

}

.columna-2{
  color: white;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.columna-3{
  color: white;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}
.columna-4{
  color: red;
  text-align: center;
  font-size: 50px;
  border: solid white 1px;
  background-color: yellow;
  border-radius: 2px;
  padding: 2%;
}

.restaurante{
  text-align: center;
  background-repeat: no-repeat;
  border-radius: 6px;
  display: flex;
  flex-flow: column;
  min-height: 200px;
  border: 2px solid yellow;

}

p.restaurante{
  font-size: 20px;
  color:white;
  text-align: justify;

}

.img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

/* RESPOSIVE */

@media screen and (max-width: 768px) {
  h1 {
  font-size: 40px;
  }
  
  h2 {
  font-size: 24px;
  }
  
  .columna-1 {
    text-align: center;
    grid-template-columns: repeat(1,1fr);
    }

  .columna-2 {
    grid-template-columns: repeat(2,1fr);
  }

  .columna-3 {
  grid-template-columns: repeat(3,1fr);
  }

  .columna-4 {
    text-align: center;
    grid-template-columns: repeat(1,1fr);
    }

  .restaurante {
  min-height: 150px;
  }

  p.restaurante {
  font-size: 16px;
  }


  